$clr-title: #a5b4fc;
$clr-txt: #5d87e9 ;
$size-txt: 18px;
$size-title: 50px;
$clr-bg: #1f2039;

@mixin taille-photo($largeur, $hauteur){
    width: $largeur;
    height: $hauteur;
    object-fit: cover;
}
@mixin bouton{
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 55px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #a6a7e3;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.en-tete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    & .logo{
        margin: 0 20px;
    }
    & .list ul{
        width: 350px;
        display: flex;

        & li{
            margin: 0 15px;
            list-style-type: none;
            font-size: $size-txt;
            cursor: pointer;

            // permet d'annimer la bar du bas
            &:hover::after{
                animation: list-animate .5s forwards;
            }
        }

    }
}

ul li::after{
    content: " ";
    display: flex;  
    width: 80px;
    height: 2px;
    background-color: $clr-txt; 
    transform: scaleX(0);
}

@keyframes list-animate {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}


.info-perso{
    background-color: #1f2039;
    height: 80vh;
    &-section{
        display: flex;
        width: 70%;
        margin: auto;
        &-1{
            width: 500px;
            margin: 50px 0;

            & h1{
                font-size: $size-title;
                color: $clr-title;
            }
            & p{
                font-size: $size-txt;
                color: #fff;
                line-height: 25px;
            }
            & button{
                @include bouton;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    background-color: darken(#a6a7e3, 5);
                }
            }
        }
    }
     & .profil{
        margin: 50px 80px;

        & img{
            @include taille-photo(400px, 400px)
        }
     }
}



.mes-projets{
    margin-top: 10vh;
    & h2{
        text-align: center;
        font-size: 30px;

        // &::after{
        //     content: "";
        //     display: flex;  
        //     width: 100px;
        //     height: 3px;
        //     background-color: $clr-txt; 
        //     margin: 14px auto;
        // }
    }
    &-photos{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px;
        gap: 15px;
        margin: 0 20%;

        & img{
            @include taille-photo(100%, 100% );

            transition: transform .5s ease-in-out;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    // fait grossir nos images de l'interrieur
    .image{
        width: 300px;
        overflow: hidden;
    }
}

.me-contacter{
    background-color: $clr-bg;
    height: 80vh;
    margin-top: 20vh;
    h2{
        text-align: center;
        color: $clr-title;
        padding-top: 50px;
    }
    & form{
        width: 70%;
        margin: auto;
        & .mon-input{
            display: flex;

            div{
                margin: 30px 10px;
                color: #fff;
            }

            & input{
                width: 500px;
                height: 45px;
                border-radius: 5px;
                margin-top: 10px;
                outline: none;
                color: $clr-txt;
                font-size: $size-txt;

                &:focus{
                    border: 3px solid $clr-title;
                }
            }
            .email:invalid{
                animation: animate-input .1s 3 ease-in-out;
                background-color: rgb(247, 5, 5);
            }
        }

        & .area-txt{
            color: #fff;
            margin-left: 10px;
            textarea{
                width: 57.3em;
                height: 160px;
                border-radius: 5px;
                margin-top: 10px;
                outline: none;
                color: $clr-txt;
                font-size: $size-txt;
                &:focus{
                    border: 3px solid $clr-title;
                }
            }
        }
        button{
            @include bouton;
            transform: translate(55vh,5vh);
            cursor: pointer;
            &:hover{
                background-color: darken(#a6a7e3, 5);
            }
        }
    }
}

@keyframes animate-input {
    25%{
        transform: translateX(2%);
    }
    75%{
        transform: translatex(-2%);
    }
}

.pied-de-page{
    @extend .en-tete
}


